[submodule "public"]
	path = public
	url = https://github.com/Sudo-Victor-Victory/victory_coder.github.io.git
	branch = main
[submodule "victory_coder.github.io"]
	path = victory_coder.github.io
	url = https://github.com/Sudo-Victor-Victory/victory_coder.github.io.git
[submodule "victory_coder/themes/hugo-profile"]
	path = victory_coder/themes/hugo-profile
	url = https://github.com/gurusabarish/hugo-profile.git
