#experience .gold-highlight {
    background-color: #FFDB58 !important; /* MUSTAARRDDD Yellow */
    color: black;
    font-weight: bold;
    padding: 1px 1px;
    border-radius: 4px;
    font-style: italic;
}