.cerulean-blue-text {
    color: #086788; 
    padding: 1px 1px;
    border-radius: 4px;
}
.blue-green-text {
    color: #07A0C3;
    padding: 1px 1px;
    border-radius: 4px;
}

.jonquil-yellow-highlight {
    background-color: #F0C808 !important;
    color: black;
    padding: 1px 1px;
    border-radius: 4px;
}

.jonquil-yellow-text {
    color: #F0C808 !important;
    padding: 1px 1px;
    border-radius: 4px;
}

.eerie-black-text {
    color: #1D1B14;
    padding: 1px 1px;
    border-radius: 4px;
}

.red-text {
    color: #FF0000;
    padding: 1px 1px;
    border-radius: 4px;
}

.orange-text {
    color: 		#F28500;
    padding: 1px 1px;
    border-radius: 4px;
}

.github-card {
  flex: 1 1 300px;      
  max-width: 400px;     
  display: flex;        /* better for stretching evenly */
}

.github-card img {
  display: block;
  height: auto;         /* let height scale naturally */
  width: 100%;
  object-fit: contain;  /* no distortion */
}