{{ define "head" }}
<meta name="description" content="{{ .Params.description }}">
<link rel="stylesheet" href="{{ `css/single.css` | relURL }}?v={{ now.Unix }}" media="all">
<!-- fontawesome -->
<script src="{{ `fontawesome-6/all-6.4.2.js` | relURL}}"></script>
{{ end }}

{{ define "title" }}
{{.Title }} | {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<section id="single">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-12 col-lg-9">
        <div class="pr-lg-4">
          <div class="title mb-5">
            <h1 class="text-center mb-4">{{ .Title }}</h1>
            <div class="text-center">
              {{ if .Params.author }}
                {{ .Params.author }}
                <small>|</small>
              {{ end }}
              {{ .Date.Format (.Site.Params.datesFormat.article | default "Jan 2, 2006") }}

              {{ if or (.Site.Params.singlePages.readTime.enable | default true) (.Params.enableReadingTime) }}
              <span id="readingTime">
                {{ .Site.Params.singlePages.readTime.content | default " min read" }}
              </span>
              {{ end }}
            </div>
          </div>
          {{ if .Params.image }}
          <div class="featured-image">
            <img class="img-fluid mx-auto d-block" src="{{ .Params.image }}" alt="{{ .Title }}">
          </div>
          {{ end }}
          <article class="page-content  p-2">
          {{ .Content | emojify }}
          </article>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-3">
        <div id="stickySideBar" class="sticky-sidebar">
          {{ if .Params.toc | default true}}
          <aside class="toc">
              <h5>
                {{ .Site.Params.terms.toc | default "Table Of Contents" }}
              </h5>
              <div class="toc-content">
                {{.TableOfContents}}
              </div>
          </aside>
          {{ end }}

          {{ if .Params.tags }}
          <aside class="tags">
            <h5>{{ .Site.Params.terms.tags | default "Tags" }}</h5>
            <ul class="tags-ul list-unstyled list-inline">
              {{range .Params.tags}}
              <li class="list-inline-item"><a href="{{`tags` | absURL}}/{{.| urlize}}"
                {{ if site.Params.singlePages.tags.openInNewTab | default true }}target="_blank"{{ end }}
              >{{.}}</a></li>
              {{end}}
            </ul>
          </aside>
          {{end}}

          {{ if .Params.socialShare | default .Site.Params.singlePages.socialShare | default true }}
          <aside class="social">
            <h5>{{ .Site.Params.terms.social | default "Social" }}</h5>
            <div class="social-content">
              <ul class="list-inline">
                <li class="list-inline-item text-center">
                  <a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{ .Site.Params.hostName }}{{ .Permalink | absURL }}">
                    <i class="fab fa-linkedin"></i>
                  </a>
                </li>
                <li class="list-inline-item text-center">
                  <a target="_blank" href="https://twitter.com/share?text={{ .Title }}&url={{ .Site.Params.hostName }}{{ .Permalink | absURL }}">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item text-center">
                  <a target="_blank" href="https://api.whatsapp.com/send?text={{ .Title }}: {{ .Site.Params.hostName }}{{ .Permalink | absURL }}">
                    <i class="fab fa-whatsapp"></i>
                  </a>
                </li>
                <li class="list-inline-item text-center">
                  <a target="_blank" href='mailto:?subject={{ .Title }}&amp;body={{ .Site.Params.terms.emailText | default "Check out this site" }} {{ .Site.Params.hostName }}{{ .Permalink | absURL }}'>
                    <i class="fa fa-envelope"></i>
                  </a>
                </li>
              </ul>
            </div>
          </aside>
          {{ end }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-9 p-4">
        {{ template "_internal/disqus.html" . }}
      </div>
    </div>
  </div>
  <button class="p-2 px-3" onclick="topFunction()" id="topScroll">
    <i class="fas fa-angle-up"></i>
  </button>
</section>

{{ if or (.Site.Params.singlePages.scrollprogress.enable | default true) (.Params.enableScrollProgress) }}
<div class="progress">
  <div id="scroll-progress-bar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<script src="{{ `js/scrollProgressBar.js` | relURL}}"></script>
{{ end }}

<script>
  var topScroll = document.getElementById("topScroll");
  window.onscroll = function() {scrollFunction()};

  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      topScroll.style.display = "block";
    } else {
      topScroll.style.display = "none";
    }
  }

  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }

  // To set height of sticky sidebar dynamically
  let stickySideBarElem = document.getElementById("stickySideBar");
  let stickyNavBar = {{ .Site.Params.navbar.stickyNavBar.enable | default false }};
  if(stickyNavBar) {
    let headerElem = document.getElementById("profileHeader");
    let headerHeight = headerElem.offsetHeight + 15;
    stickySideBarElem.style.top = headerHeight + "px";
  } else {
    stickySideBarElem.style.top = "50px";
  }
</script>

<script>
    // Executes highlighting after the blog's HTML has been loaded.
    document.addEventListener("DOMContentLoaded", () => {
    const html = document.body;

    const highlights = [{
            word: "ESP32",
            className: "esp32-red-highlight"
        },
        {
            word: "Arduino",
            className: "arduino-blue-highlight"
        },
        {
            word: "ECG",
            className: "ecg-gold-highlight"
        },
        {
            word: "SparkFun AD8232",
            className: "ad8232-red-highlight"
        },

    ];

    // Transforms the highlights array into an array of objects containing regex, word, and className.
    const regexes = highlights.map(({
        word,
        className
    }) => ({
      // \\b is used for whole words, gi is a global search and ignores casing
        regex: new RegExp(`\\b${word}\\b`, "gi"),
        word,
        className
    }));

    // Checks if a node has a parent that is a paragraph and is within a link that has an image
    // If it is - it returns true.
    function shouldSkip(node) {
        let p = node.closest?.("p");
        let a = p?.closest?.("a");
        // Returns a null-safe bool based on if a caption or link text is nested in an image
        // if it is near an image it will return true.
        return !!(p && a && a.querySelector("img"));
    }

    // Iterates through a node to find occurances of words that needs to be highlighted and highlights.
    function highlightTextNode(textNode) {
        let text = textNode.nodeValue;
        const parent = textNode.parentNode;
        let matched = false;

        // Creates a container of DOM nodes.
        const textFragment = document.createDocumentFragment();

        while (text.length > 0) {
            let found = false;
            for (let { regex, className} of regexes) {
                // Searches for text within regex
                const match = regex.exec(text);
                if (match) {
                    matched = true;
                    const before = text.slice(0, match.index);
                    const matchedText = match[0];
                    // Remove the word to append the styled word.
                    text = text.slice(match.index + matchedText.length);

                    if (before) {
                      textFragment.appendChild(document.createTextNode(before));
                    }
                    // Adds a span to the fragment with the className defined in single.css
                    const span = document.createElement("span");
                    span.className = className;
                    span.textContent = matchedText;
                    textFragment.appendChild(span);

                    found = true;
                    break;
                }
            }
            // If no other matches are found, adds the text back to the fragment and exits the loop. 
            if (!found) {
                textFragment.appendChild(document.createTextNode(text));
                break;
            }
        }
        // If a word was found, replaces the old textNode with the stylized fragment node we just created
        if (matched) {
            parent.replaceChild(textFragment, textNode);
        }
    }

    // Recursively check if a node is a textNode and if its parent should be skipped due to being nested within a link
    function walk(node) {
        // 3 is a DOM specified that indicates a text node
        if (node.nodeType === 3 && node.nodeValue.trim() && !shouldSkip(node.parentNode)) {
            highlightTextNode(node);
        }
        // 1 is a DOM specified val of an element node . Think of any HTML elements like <p> <div> <h1> <a> <img>
        // We want to recursively check nodes that are not SCRIPT, STYLE, and NOSCRIPT
        else if (node.nodeType === 1 && !["SCRIPT", "STYLE", "NOSCRIPT"].includes(node.tagName)) {
            for (let i = 0; i < node.childNodes.length; i++) {
                walk(node.childNodes[i]);
            }
        }
    }
    // Kicks off the recursive call
    walk(html);
});
</script>

{{ if or (.Site.Params.singlePages.readTime.enable | default true) (.Params.enableReadingTime) }}
<script src="{{ `js/readingTime.js` | relURL}}"></script>
{{end}}

{{ end }}
